html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.cat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-container {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin-top: 20px;
}

.cat-container h2 {
    border: 1px solid red;
    cursor: pointer;
}

.cat-container button {
    align-self: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.cat-container section {
    border: 1px solid green;
    margin-bottom: 15px;
    cursor: pointer;
}

.posts-card {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vote-widget {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    text-align: center;
    justify-content: space-around;
}

.vote-widget button {
    margin-bottom: 0;
}

.form-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.new-entry-form {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}

.new-entry-form textarea {
    height: 100px;
    resize: none;
}

.form-input {
    margin-bottom: 15px;
}