html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.cat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-container {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border: 1px solid #000;
    margin-top: 20px;
}

.cat-container h2 {
    border: 1px solid red;
    cursor: pointer;
}

.cat-container button {
    align-self: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.cat-container section {
    border: 1px solid green;
    margin-bottom: 15px;
    cursor: pointer;
}